.note
{
    text-align: left;
    height: 30px;
    background: -webkit-linear-gradient(left, #0ba6ee50, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 30px;
}
.snippet {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
.form-content
{
    padding: 5%;
    border: 1px solid #0ba6ee50;
    margin-bottom: 2%;
    border-left: 3px solid #f36d33;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}