<br>
<div class="container register-form">
    <div class="form" >
        <div class="note">
            <p>&nbsp; &nbsp; Sample User Login Form</p>
        </div>

        <div class="form-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email *" value=""/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class= "col-md-6">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Your Password *" value=""/>
                    </div>
                </div>
            </div>   
            
            <div class="row">
                <div class="col-md-8">
                        <button type="Login" class="btn btn-primary">Submit</button>
                        &nbsp; &nbsp; 
                       <button type="reset" class="btn btn-danger">Reset</button>
                </div>                    
            </div>              

        </div>
    </div>
</div>
<router-outlet></router-outlet>

