<div class="header">
  <a routerLink ='/home' class="logo">SampleAngularWithAPI</a>
  <div class="header-right">
    <a routerLink ='/register' routerLinkActive="active">Register</a>
    <a routerLink ='/login' routerLinkActive="active">Login</a>
    <a routerLink ='/modalpopup' routerLinkActive="active">Users List</a>
  </div>
</div>
<router-outlet></router-outlet>
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© company:
    <a routerLink=""> ANGULAR</a>
  </div>
  <!-- Copyright -->

</footer>